/* CSS Document */

/*========================================================================================

*************************** Start Styling Your theme from here ***************************

==========================================================================================*/
/*** 

====================================================================
  Loading Transition
====================================================================

 ***/

 $sexy-red: #950101;
 $sexy-blue: #005d27;
/*------------- Global Prefix -------------------*/
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: var(--blue-dark);
  border-radius: 0;
}
:root {
  --text-color: #73737b;
  --text-light: #888888;
  --heading: #101621;
  --blue-dark: #6f55ff;
  --red-light: #fd6a5e;
  --yellow-deep: #ffb840;
  --blue-light: #3bb0d7;
  --purple-blue: #655c97;
  --vin-red: #973c56;
  scroll-behavior: smooth;
}
::selection {
  background-color: $sexy-blue;
  color: #fff;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 18px;
  position: relative;
  line-height: 1.7em;
  color: var(--text-color);
}
/*______________________ Global style ___________________*/
.main-page-wrapper {
  overflow: hidden;
  padding-top: 150px;
  background-color: black;
}
.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5,
h5,
.h6,
h6 {
  color: var(--heading);
  font-weight: normal;
}
.h1,
h1 {
  font-size: 80px;
  line-height: 1.1em;
}
.h2,
h2 {
  font-size: 52px;
  line-height: 1.1em;
}
.h3,
h3 {
  font-size: 36px;
}
.h4,
h4 {
  font-size: 22px;
}
.h5,
h5 {
  font-size: 20px;
}
.h6,
h6 {
  font-size: 15px;
}
.font-rubik {
  font-family: "Rubik", sans-serif !important;
}
.font-gilroy-bold {
  font-family: "gilroy-bold" !important;
}
.font-slab {
  font-family: "Roboto Slab", serif !important;
}
.font-gordita {
  font-family: "gordita" !important;
}
.font-recoleta {
  font-family: "Recoleta" !important;
}
::-webkit-input-placeholder {
  /* Edge */
  color: #acaeb3;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #acaeb3;
}
::placeholder {
  color: #acaeb3;
}
.cs-screen {
  position: absolute;
}
.illustration-holder {
  position: relative;
}
.shapes {
  position: absolute;
  z-index: -1;
}
.dark-style {
  background: black;
  color: #afafaf;
}
.dark-style .h1,
.dark-style h1,
.dark-style .h2,
.dark-style h2,
.dark-style .h3,
.dark-style h3,
.dark-style .h4,
.dark-style h4,
.dark-style .h5,
.dark-style h5,
.dark-style .h6,
.dark-style h6 {
  color: #fff;
}
/*^^^^^^^^^^^^^^^^^^^^^ Theme Button ^^^^^^^^^^^^^^^^^^^^^^^^^*/
body .theme-btn-one {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  line-height: 50px;
  background: $sexy-blue;
  padding: 0 42px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}
body .theme-btn-one.btn-lg {
  padding: 0 50px;
  line-height: 55px;
  text-transform: uppercase;
  letter-spacing: 1.14px;
}
body .theme-btn-one:hover {
  background: $sexy-blue;;
}
/*------------------ Login/Sign Up ----------------------*/
.user-data-page .illustration-wrapper {
  float: left;
  width: 48%;
  padding: 40px 0;
  min-height: 100vh;
  background: url('https://source.unsplash.com/random');
  text-align: center;
}
.user-data-page .illustration-wrapper h3 {
  font-size: 36px;
  line-height: 1.27em;
  padding: 40px 0;
  color: white;
}
.user-data-page .illustration-wrapper h3 a {
  text-decoration: underline;
}
.user-data-page .illustration-wrapper .illustration-holder {
  width: 100%;
}
.user-data-page .illustration-wrapper .illustration-holder .illustration {
  width: 100%;
}
.user-data-page .illustration-wrapper .illustration-holder .shape-one {
  bottom: 2%;
  left: 2%;
  z-index: 1;
  width: 60%;
  animation: jumpTwo 5s infinite linear;
}
.user-data-page .illustration-wrapper .illustration-holder .shape-two {
  bottom: 2%;
  left: 59%;
  z-index: 1;
  width: 40%;
  animation: jumpThree 5s infinite linear;
}
.user-data-page .form-wrapper {
  float: left;
  width: 47%;
  height: 100%;
  padding: 50px 4% 20px;
  position: relative;
}
.user-data-page .go-back-button {
  font-size: 15px;
}
.user-data-page .go-back-button:hover {
  color: #000;
  text-decoration: underline;
}
.user-data-page .form-wrapper h2 {
  font-family: "gilroy-bold";
  font-size: 58px;
  line-height: 1.17em;
}
.user-data-page .form-wrapper .header-info {
  font-size: 22px;
  //color: var(--heading);
}
.user-data-page .form-wrapper .header-info a {
  color: var(--blue-dark);
  text-decoration: underline;
}
.user-data-page .form-wrapper .copyright-text {
  font-size: 16px;
}
.user-data-form .input-group-meta {
  height: 55px;
  position: relative;
}
.user-data-form .input-group-meta input {
  font-family: "Rubik", sans-serif;
  width: 100%;
  height: 100%;
  font-size: 18px;
  border: none;
  border-bottom: solid 2px #000;
  padding: 0 52px 0 0;
  color: white;
  background: transparent;
}
.user-data-form .input-group-meta input:focus {
  border-color: var(--blue-dark);
}
.user-data-form .input-group-meta label {
  font-size: 15px;
  font-weight: normal;
  color: #bfbfbf;
  position: absolute;
  left: 0;
  top: -21px;
}
.user-data-form .input-group-meta .placeholder_icon {
  position: absolute;
  line-height: 55px;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50px;
  text-align: center;
  z-index: 1;
  color: rgba(0, 0, 0, 0.45);
  font-size: 17px;
}
.user-data-form .input-group-meta .valid-sign img {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.user-data-form .input-group-meta input:valid + .valid-sign img {
  opacity: 1;
}
.user-data-form .input-group-meta .placeholder_icon img {
  position: relative;
  top: 50%;
  margin: 0 auto;
  transform: translateY(-50%);
}
.user-data-form .input-group-meta .placeholder_icon span {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: block;
  position: relative;
}
.user-data-form .input-group-meta .placeholder_icon span:before {
  content: "";
  width: 2px;
  height: 26px;
  background: #000;
  position: absolute;
  top: 15px;
  left: 24px;
  transform: rotate(45deg);
  z-index: 5;
  transition: all 0.2s ease-in-out;
}
.user-data-form .input-group-meta .placeholder_icon span.eye-slash:before {
  opacity: 0;
}
.user-data-form .agreement-checkbox label {
  position: relative;
  font-size: 15px;
  //color: var(--heading);
  cursor: pointer;
  padding-left: 22px;
  line-height: 18px;
  transition: all 0.1s ease-in-out;
}
.user-data-form .agreement-checkbox label a {
  color: var(--p-color);
  text-decoration: underline;
}
.user-data-form .agreement-checkbox input[type="checkbox"] {
  //display: none;
}
.user-data-form .agreement-checkbox a {
  position: relative;
  font-size: 15px;
  color: rgba(30, 30, 30, 0.55);
}
.user-data-form .agreement-checkbox a:hover {
  text-decoration: underline;
  color: var(--p-color);
}
.user-data-form .theme-btn-one {
  width: 100%;
}
.user-data-page .full-height {
  min-height: 100vh;
  padding: 20px 0;
  flex-direction: column;
  text-align: center;
}
.full-height .user-data-form .button-solid-one {
  width: 200px;
  margin: 0 auto 30px;
}
.blueify, .greenme{
  color: #005d27;
}

.logo{
  width:50px;
}

.login-err{
  color: red;
  margin-bottom: 30px;
}